

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_earth_%28large%29.gif");
    background-size: cover;
}
.peter { 
    margin: auto;
    width: 16%;
    border: 50px solid grey;
    border-radius: 5px;
    background-color: green;
    background-size: cover;
    }

input[type=button] {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 12px;
    margin: 0%;
    width: 50px;
}




 
 
